section.slider{
	width: 900px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

ul.slides{
	-webkit-animation: slide ease 25s infinite;
	width: 4500px;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
}

ul.slides h1{
	font-family: 'RobotoLight';
	font-weight: normal;
	position: absolute;
	margin: 20px;
	padding: 5px;
	display: block;
	color: rgba( 255, 255, 255, 0.5 );
	background: rgba( 0, 0, 0, 0.5 );
	opacity: 0;
	-webkit-transition: opacity 1s;
}

ul.slides h1 a{
	font-family: 'RobotoLightItalic';
	color: rgba( 255, 255, 255, 0.5 );
	text-decoration: none;
}

ul.slides h1:hover{
	border-bottom: 1px dotted rgba( 255, 255, 255, 0.3 );
	
}

section.progress{
	width: 0%;
	height: 3px;
	background: rgba( 255, 255, 255, 0.5 );
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-animation: progress ease 5s infinite;
}

section.slider:hover ul.slides,
section.slider:hover section.progress{
	-webkit-animation-play-state: paused;
}

section.slider ul.slides li:hover h1{
	opacity: 1;
}

ul.slides li{
	float: left;
	display: inline-block;
	padding: 0;
	margin: 0;
}

@-webkit-keyframes slide{
	0%, 15%, 100%	{ left: 0px; }		/*First slide*/
	20%, 35%		{ left: -901px; }	/*Second slide*/
	40%, 55%		{ left: -1801px; }	/*Third slide*/
	60%, 75% 		{ left: -2701px; }	/*Fourth slide*/
	80%, 95%		{ left: -3601px; }	/*Fifth slide*/
}

@-webkit-keyframes progress{
	0% 		{ width: 0%; opacity: 1; }
	75% 	{ width: 100%; opacity: 1; }
	100% 	{ opacity: 0; }
}